button {
    margin-left: 2px;
    padding: 10px 20px;
    background-color: #a3a0a0b9;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    width: auto; /* Remove fixed width to make it rectangular */
    display: inline-block; /* Ensure the button takes the content's width */
  }
  
  button.active {
    background-color: #457EFF;
    color: white;
  }
  